@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t2uwwv');
  src:  url('fonts/icomoon.eot?t2uwwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t2uwwv') format('truetype'),
    url('fonts/icomoon.woff?t2uwwv') format('woff'),
    url('fonts/icomoon.svg?t2uwwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_books:before {
  content: "\e600";
}
.icon_play:before {
  content: "\e601";
}
.icon_film:before {
  content: "\e602";
}
.icon_price-tag:before {
  content: "\e603";
}
.icon_price-tags:before {
  content: "\e604";
}
.icon_ticket:before {
  content: "\e605";
}
.icon_coin-dollar:before {
  content: "\e606";
}
.icon_coin-euro:before {
  content: "\e607";
}
.icon_coin-pound:before {
  content: "\e608";
}
.icon_coin-yen:before {
  content: "\e609";
}
.icon_credit-card:before {
  content: "\e60a";
}
.icon_phone:before {
  content: "\e60b";
}
.icon_phone-hang-up:before {
  content: "\e60c";
}
.icon_location2:before {
  content: "\e60d";
}
.icon_compass:before {
  content: "\e60e";
}
.icon_map:before {
  content: "\e60f";
}
.icon_map2:before {
  content: "\e610";
}
.icon_bell:before {
  content: "\e611";
}
.icon_users:before {
  content: "\e612";
}
.icon_spinner9:before {
  content: "\e613";
}
.icon_spinner10:before {
  content: "\e614";
}
.icon_eye:before {
  content: "\e615";
}
.icon_eye-blocked:before {
  content: "\e616";
}
.icon_woman:before {
  content: "\e617";
}
.icon_man-woman:before {
  content: "\e618";
}
.icon_happy:before {
  content: "\e619";
}
.icon_happy2:before {
  content: "\e61a";
}
.icon_smile:before {
  content: "\e61b";
}
.icon_smile2:before {
  content: "\e61c";
}
.icon_tongue:before {
  content: "\e61d";
}
.icon_tongue2:before {
  content: "\e61e";
}
.icon_sad:before {
  content: "\e61f";
}
.icon_sad2:before {
  content: "\e620";
}
.icon_wink:before {
  content: "\e621";
}
.icon_wink2:before {
  content: "\e622";
}
.icon_grin:before {
  content: "\e623";
}
.icon_grin2:before {
  content: "\e624";
}
.icon_cool:before {
  content: "\e625";
}
.icon_cool2:before {
  content: "\e626";
}
.icon_angry:before {
  content: "\e627";
}
.icon_angry2:before {
  content: "\e628";
}
.icon_evil:before {
  content: "\e629";
}
.icon_evil2:before {
  content: "\e62a";
}
.icon_shocked:before {
  content: "\e62b";
}
.icon_shocked2:before {
  content: "\e62c";
}
.icon_baffled:before {
  content: "\e62d";
}
.icon_baffled2:before {
  content: "\e62e";
}
.icon_confused:before {
  content: "\e62f";
}
.icon_confused2:before {
  content: "\e630";
}
.icon_neutral:before {
  content: "\e631";
}
.icon_neutral2:before {
  content: "\e632";
}
.icon_hipster:before {
  content: "\e633";
}
.icon_hipster2:before {
  content: "\e634";
}
.icon_wondering:before {
  content: "\e635";
}
.icon_wondering2:before {
  content: "\e636";
}
.icon_sleepy:before {
  content: "\e637";
}
.icon_sleepy2:before {
  content: "\e638";
}
.icon_frustrated:before {
  content: "\e639";
}
.icon_frustrated2:before {
  content: "\e63a";
}
.icon_crying:before {
  content: "\e63b";
}
.icon_crying2:before {
  content: "\e63c";
}
.icon_point-up:before {
  content: "\e63d";
}
.icon_point-right:before {
  content: "\e63e";
}
.icon_point-down:before {
  content: "\e63f";
}
.icon_point-left:before {
  content: "\e640";
}
.icon_warning:before {
  content: "\e641";
}
.icon_notification:before {
  content: "\e642";
}
.icon_question:before {
  content: "\e643";
}
.icon_info:before {
  content: "\e644";
}
.icon_share2:before {
  content: "\e645";
}
.icon_google-plus2:before {
  content: "\e646";
}
.icon_google-plus3:before {
  content: "\e647";
}
.icon_facebook:before {
  content: "\e648";
}
.icon_facebook2:before {
  content: "\e649";
}
.icon_tumblr:before {
  content: "\e64a";
}
.icon_tumblr2:before {
  content: "\e64b";
}
.icon_x2:before {
  content: "\e64c";
}
.icon_denied:before {
  content: "\e64d";
}
.icon_heart-fill:before {
  content: "\e64e";
}
.icon_pin:before {
  content: "\e64f";
}
.icon_map-pin-stroke:before {
  content: "\e650";
}
.icon_map-pin-fill:before {
  content: "\e651";
}
.icon_map-pin-alt:before {
  content: "\e652";
}
.icon_mute:before {
  content: "\e653";
}
.icon_playback-fast-forward:before {
  content: "\e654";
}
.icon_playback-pause:before {
  content: "\e655";
}
.icon_playback-play:before {
  content: "\e656";
}
.icon_playback-rewind:before {
  content: "\e657";
}
.icon_primitive-dot:before {
  content: "\e658";
}
.icon_primitive-square:before {
  content: "\e659";
}
.icon_rss:before {
  content: "\e65a";
}
.icon_ruby:before {
  content: "\e65b";
}
.icon_screen-full:before {
  content: "\e65c";
}
.icon_screen-normal:before {
  content: "\e65d";
}
.icon_search:before {
  content: "\e65e";
}
.icon_stop:before {
  content: "\e65f";
}
.icon_unmute:before {
  content: "\e660";
}
.icon_x:before {
  content: "\e661";
}
.icon_zap:before {
  content: "\e662";
}
.icon_music:before {
  content: "\e663";
}
.icon_pencil:before {
  content: "\e664";
}
.icon_plus:before {
  content: "\e665";
}
.icon_minus:before {
  content: "\e666";
}
.icon_film2:before {
  content: "\e667";
}
.icon_heart:before {
  content: "\e668";
}
.icon_refresh:before {
  content: "\e669";
}
.icon_location:before {
  content: "\e66a";
}
.icon_tag:before {
  content: "\e66b";
}
.icon_checkmark:before {
  content: "\e66c";
}
.icon_cancel:before {
  content: "\e66d";
}
.icon_skype:before {
  content: "\e66e";
}
.icon_gift:before {
  content: "\e66f";
}
.icon_list:before {
  content: "\e670";
}
.icon_grid:before {
  content: "\e671";
}
.icon_volume:before {
  content: "\e672";
}
.icon_volume2:before {
  content: "\e673";
}
.icon_paperclip:before {
  content: "\e674";
}
.icon_floppy:before {
  content: "\e675";
}
.icon_diary:before {
  content: "\e676";
}
.icon_database:before {
  content: "\e677";
}
.icon_creditcard:before {
  content: "\e678";
}
.icon_play2:before {
  content: "\e679";
}
.icon_film22:before {
  content: "\e67a";
}
.icon_bullhorn:before {
  content: "\e67b";
}
.icon_price-tag2:before {
  content: "\e67c";
}
.icon_price-tags2:before {
  content: "\e67d";
}
.icon_qrcode:before {
  content: "\e67e";
}
.icon_ticket2:before {
  content: "\e67f";
}
.icon_credit-card2:before {
  content: "\e680";
}
.icon_map3:before {
  content: "\e681";
}
.icon_map22:before {
  content: "\e682";
}
.icon_tv:before {
  content: "\e683";
}
.icon_bubble:before {
  content: "\e684";
}
.icon_bubbles:before {
  content: "\e685";
}
.icon_bubbles2:before {
  content: "\e686";
}
.icon_bubble2:before {
  content: "\e687";
}
.icon_bubbles3:before {
  content: "\e688";
}
.icon_bubbles4:before {
  content: "\e689";
}
.icon_key:before {
  content: "\e68a";
}
.icon_equalizer:before {
  content: "\e68b";
}
.icon_equalizer2:before {
  content: "\e68c";
}
.icon_cog:before {
  content: "\e68d";
}
.icon_pie-chart:before {
  content: "\e68e";
}
.icon_stats-dots:before {
  content: "\e68f";
}
.icon_gift2:before {
  content: "\e690";
}
.icon_leaf:before {
  content: "\e691";
}
.icon_rocket:before {
  content: "\e692";
}
.icon_meter:before {
  content: "\e693";
}
.icon_meter2:before {
  content: "\e694";
}
.icon_fire:before {
  content: "\e695";
}
.icon_bin:before {
  content: "\e696";
}
.icon_switch:before {
  content: "\e697";
}
.icon_link:before {
  content: "\e698";
}
.icon_attachment:before {
  content: "\e699";
}
.icon_bookmark:before {
  content: "\e69a";
}
.icon_bookmarks:before {
  content: "\e69b";
}
.icon_star-empty:before {
  content: "\e69c";
}
.icon_star-full:before {
  content: "\e69d";
}
.icon_heart2:before {
  content: "\e69e";
}
.icon_google-plus22:before {
  content: "\e69f";
}
.icon_google-plus32:before {
  content: "\e6a0";
}
.icon_facebook3:before {
  content: "\e6a1";
}
.icon_facebook22:before {
  content: "\e6a2";
}
.icon_whatsapp:before {
  content: "\e6a3";
}
.icon_flickr:before {
  content: "\e6a4";
}
.icon_flickr2:before {
  content: "\e6a5";
}
.icon_skype2:before {
  content: "\e6a6";
}
.icon_share:before {
  content: "\e6a7";
}
.icon_heart3:before {
  content: "\e6a8";
}
.icon_star:before {
  content: "\e6a9";
}
.icon_tv2:before {
  content: "\e6aa";
}
.icon_settings:before {
  content: "\e6ab";
}
.icon_tag2:before {
  content: "\e6ac";
}
.icon_bulb:before {
  content: "\e6ad";
}
.icon_pen:before {
  content: "\e6ae";
}
.icon_diamond:before {
  content: "\e6af";
}
.icon_display:before {
  content: "\e6b0";
}
.icon_location3:before {
  content: "\e6b1";
}
.icon_eye2:before {
  content: "\e6b2";
}
.icon_phone2:before {
  content: "\e6b3";
}
.icon_mail:before {
  content: "\e6b4";
}
.icon_like:before {
  content: "\e6b5";
}
.icon_paperplane:before {
  content: "\e6b6";
}
.icon_banknote:before {
  content: "\e6b7";
}
.icon_data:before {
  content: "\e6b8";
}
.icon_music2:before {
  content: "\e6b9";
}
.icon_fire2:before {
  content: "\e6ba";
}
.icon_shop:before {
  content: "\e6bb";
}
.icon_calendar:before {
  content: "\e6bc";
}
.icon_alert-triangle:before {
  content: "\e6bd";
}
.icon_bell2:before {
  content: "\e6be";
}
.icon_bell-off:before {
  content: "\e6bf";
}
.icon_map-pin:before {
  content: "\e6c0";
}
.icon_navigation:before {
  content: "\e6c1";
}
.icon_navigation-2:before {
  content: "\e6c2";
}
.icon_package:before {
  content: "\e6c3";
}
.icon_save:before {
  content: "\e6c4";
}
.icon_server:before {
  content: "\e6c5";
}
.icon_settings2:before {
  content: "\e6c6";
}
.icon_star2:before {
  content: "\e6c7";
}
.icon_toggle-left:before {
  content: "\e6c8";
}
.icon_toggle-right:before {
  content: "\e6c9";
}
.icon_trash-2:before {
  content: "\e6ca";
}
.icon_tv3:before {
  content: "\e6cb";
}
.icon_video:before {
  content: "\e6cc";
}
.icon_brand:before {
  content: "\e6cd";
  color: #f90;
}
.icon_brand2:before {
  content: "\e6ce";
  color: #a4c639;
}
.icon_brand3:before {
  content: "\e6cf";
}
.icon_brand4:before {
  content: "\e6d0";
  color: #19a9e5;
}
.icon_brand5:before {
  content: "\e6d1";
  color: #3e8dcc;
}
.icon_brand6:before {
  content: "\e6d2";
  color: #00aaef;
}
.icon_brand7:before {
  content: "\e6d3";
  color: #3b5998;
}
.icon_brand8:before {
  content: "\e6d4";
  color: #00457c;
}
